.jsoneditor-react-container {
  width: 100%;
  border: none;
  
  
}
.ace-jsoneditor {
  min-height: 130px ;
}
.ace_scrollbar-v {
  overflow-x: hidden;
  overflow-y: scroll;

}
.jsoneditor {
  color: #1a1a1a;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
}

.jsoneditor-menu {
    width: 100%;
    height: 30px;
    margin: 0;
    color: #2563EB;
    background-color:#2563EB;

    border-bottom:none;
}


.jsoneditor-menu>button.jsoneditor-transform {
  display: none;
}
.jsoneditor-menu>button.jsoneditor-compact {
  display: none;
}
.jsoneditor-menu>button.jsoneditor-repair {
  display: none;
}
.jsoneditor-menu>button.jsoneditor-redo:disabled {
display: none;
}
.jsoneditor-menu>button.jsoneditor-undo:disabled {
display: none;
}
.jsoneditor-menu>button.jsoneditor-separator,
.jsoneditor-menu>.jsoneditor-modes>button.jsoneditor-separator {
display: none;
}
.jsoneditor-menu a.jsoneditor-poweredBy {
  display: none;
}

.jsoneditor-menu>button.jsoneditor-sort {
  display: none;
}