._53Ji7{
    padding: 0px !important;
}
._2kL0S{
    width: 2rem !important;
    height: 2rem !important;
}
._2RWmX{
    /* display: none !important; */
}

._2pGos{
    padding: 0.4rem 3rem !important;
}
._3uApM{
    padding: 0px 20px;
}